/* RESER */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.bgheader {
    background-color: #255ee9;
}

.container {
    width: 70%;
    margin: auto;
}
.logo1 >img {
    /* align-items: flex-start; */
    width: 8rem;
    /* flex-grow: .5; */
    /* padding: 5px 20px 5px 20px; */
}
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}
.login {
    align-items: flex-start;
    padding: 3px 15px 3px 15px;
    background-color: white;
    border-radius: 20px;;
    text-align: right;
    border: 0px;
    
}
header li {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 0 8px;
    color: white;
    font-size: 1.4rem;;
}
.linkheader {
    flex-grow: 1;
    display: flex;
    justify-content: center;
 }
 ul {
    display: flex;
 }
 .banner {
    margin: auto;
    height: rem;
    background-image: url("../img/jumbo.png");
    background-size:cover;
    overflow: hidden;
 }
 .buttonwhite {
    align-items: flex-start;
    padding: 5px 15px 5px 15px;
    background-color: white;
    border-radius: 20px;;
    text-align: right;
    border: 0px;
    margin-right: 10px;
 }
 .buttonblue {
    align-items: flex-start;
    padding: 10px;
    background-color: #7289da;
    border-radius: 20px;;
    text-align: right;
    border: 0px;
    margin: 20px 10px;
    color: white;
 }
 .buttonblack {
    align-items: flex-start;
    padding: 5px 15px 5px 15px;
    background-color: rgb(39, 39, 39);
    border-radius: 20px;;
    text-align: right;
    border: 0px;
    color: white;
 }
 .container-title {
    margin: auto;
    padding: 80px 0 30px 0;
    width: 50%;
    max-width: 1000px;
    text-align: center;
    color: white;
 }
 .container-title h2 {
    margin-bottom: 30px;
    font-size: 3rem;
 }
 .container-title p {
    font-size: 1.4rem;
    margin-bottom: 30px;
 }
.blocks {
    display:flex;
    padding: 10px 0 10px 0;
 }
 .imageblock {
  width: 60%;
 }
 .textblock {
    width: 30%;
    margin-top: 30px;
 }
 .textblock >h2 {
    font-size: 3rem;
 }
 .textblock > p {
    font-size: 1.6rem;
    margin-top: 15px;
 }
.backgroundstyle {
    width: 100%;
    background-color: #f6f6f6;
}
.last-row {
    text-align: center;
    font-size:1.6rem;
    padding: 50px 0 50px 0;
}
.last-row > img {
    width: 100%;
}
.gray{
    background-color: gray;
}
.darkgray {
    background-color: rgb(63, 63, 63);

}
.clear-fix {
    content:"";
    display: table;
    clear: both;
    margin: auto;

}
.last-block {
    padding: 10px 0 10px;
}
.column {
    width: 50px;
    flex-grow: 1;
}
.bigcolumn {
    flex-grow: 3;
}
footer, .bg-black{
    background-color: black;
    width: 100%;
}
.stars {
    background-image: url(../img/stars.svg);
    width: 70%;
    margin: auto;
    background-size:contain;
    padding: 30px  0 30px 0;
    background-repeat: no-repeat;
}
.logo2 {
background-color: beige;
}
.foot {
    width: 100%;
    margin-bottom: 5px;
}
.bigcolumn select {
    border: 0px;
    color: white;
    background-color: #000000;
}
.bigcolumn img {
    width: 30px;
    vertical-align: middle;
}
.select {
    display: inline-block;
    padding: 10px 0 5px 0;
}
.bigcolumn > h2 {
    font-size: 3rem;
    margin-top: 15px;
    color: #7289da;
}
.flex-containerlist {
    flex-direction:column;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;
    line-height: 2rem;
}
li:first-child {
    color:#7289da;
}
.buttonblue2 {
    background-color: #8ea0e4;
    border-radius: 20px;;
    text-align: right;
    border: 0px;
    color: white;
    padding: 5px;
}
.icons {
    color: white;
    justify-content: center;
    height: 100px;
    padding: 20px 0;
    font-size: 2rem;;
}
